<%- include("partials/header.ejs")%>
    <section>
        <div class="landing-container">
            <div class="landing-text">
                <h1>If you want to contact me, you can use my email address: abubakrkhon@usf.edu or my Instagram!</h1>
            </div>
            <div class="landing-buttons-container">
                <a href="mailto:abubakrkhon@usf.edu" class="landing-button">Write an email</a>
                <a href="https://www.instagram.com/thecartieriii" class="landing-button">My Instagram here</a>
            </div>
        </div>
    </section>


<%- include("partials/footer.ejs")%>