<%- include("partials/header.ejs")%>
    <section>
        <div class="landing-container">
            <div class="landing-text">
                <h1>Search for weather before leaving your house and decide to take an umbrella with yourself or no.</h1>
            </div>
            <div class="landing-buttons-container">
                <a href="/request-form" class="landing-button">Search your city!</a>
            </div>
        </div>
    </section>


<%- include("partials/footer.ejs")%>