.create-post-main{
    width: 1920px;
    height: 55rem;
    align-items: center;
    display: flex;
    justify-content: center;
    background-image: url("/images/landing-background.png");
    background-repeat: no-repeat;
    background-size: 1920px;
    .create-post-main-container{
        width: 700px;
        height: 200px;
        margin-bottom: 200px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
            .create-post-text {
                font-size: 25px;
                padding-bottom: 30px;
                }
                .create-post-button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px black solid;
                    border-radius: 10px;
                    width: 120px;
                    height: 50px;
                    background-color: black;
                    color: #fff;
                    font-size: 14px;
                    text-decoration: none;
                    transition: all 0.2s;
                }
                    .create-post-button:hover{
                        background-color: #fff;
                        color: #000; 
                    }
            }
            .form-group {
                margin-bottom: 20px;
                text-align: start;

                
                label {
                    display: block;
                }

                input[type="text"],
                textarea {
                    width: auto; // Allow the input field to expand horizontally
                    min-width: 100px; // Minimum width to prevent collapsing completely
                    padding: 8px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    box-sizing: border-box;
                    resize: vertical; // Allow textarea to resize vertically
                }

                button[type="submit"] {
                    padding: 10px 20px;
                    background-color: #007bff;
                    color: #fff;
                    border: none;
                    border-radius: 4px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }

                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;

                &:nth-child(3) {
                    grid-template-columns: 1fr;
                }
            }
    }